/* Flex */

.flex {
  display: flex;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.jca {
  justify-content: space-around;
}
.jcb {
  justify-content: space-between;
}
.tac {
  text-align: center;
}

.flex-48 {
  flex: 0 1 40%;
  margin: 1%;
}
.wrap {
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}

.justify-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}
.flex-30 {
  flex: 0 1 30%;
}
.flex-70 {
  flex: 0 1 70%;
}
.flex-20 {
  flex: 0 1 16%;
}

.flex-65 {
  flex: 0 1 65%;
}

.flex-47 {
  flex: 0 1 47%;
}
.flex-40 {
  flex: 0 1 40%;
}
.flex-60 {
  flex: 0 1 60%;
}
.flex-50 {
  flex: 0 1 47%;
}
.flex-100 {
  flex: 0 1 100%;
}
