@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './reset';
@import './general';
@import './flex';

/* custome css */

.displayNone {
  display: none;
}
.invalid {
  border: 3px solid rgb(231, 101, 101);
}
.valid {
  border: none;
}
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  background-color: white;
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--textHead);
}

a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
  background: rgb(99, 99, 105);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--pri);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(194, 187, 187);
}

/* custome css */

/* this is base template  */

.glass-temp {
  height: 100vh;
  background: linear-gradient(to top right, #233b67, #233b67);
  position: relative;
}
.glass {
  background: white;
  /* background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.692),
    rgba(255, 255, 255, 0.315)
  ); */
  background: linear-gradient(
    to top left,
    rgba(128, 128, 128, 0.623),
    rgba(128, 128, 128, 0.322)
  );
  height: 80vh;
  width: 70%;
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
  padding: 1rem;
}

.circle {
  position: absolute;

  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background: white;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.792),
    rgba(255, 255, 255, 0.315)
  );
}

.circle1 {
  top: 5%;
  right: 10%;
  background: linear-gradient(to top right, #4570e6, #4570e6);
}
.circle2 {
  height: 8rem;
  width: 8rem;
}
.circle3 {
  bottom: 5%;
  left: 10%;
  background: linear-gradient(to top right, #62e993, #62e993);
}

.dashboard {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  color: #664e88;
  border-radius: 2rem;
  padding: 0.5rem;
}

/* Landing Page Styles */

/* Media */
@media all and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .media-flex-100 {
    flex: 0 1 100%;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.jca {
  justify-content: space-around;
}
.jcb {
  justify-content: space-between;
}
.tac {
  text-align: center;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
  background: rgb(105, 99, 99);
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(194, 187, 187);
}

/* Glass Main Section */
.glass-main {
  margin: 0 2rem;
}
/* Header */

.header {
  padding: 1.6rem 1rem;
  border-radius: 2rem;
  background: linear-gradient(
    to top left,
    rgba(128, 128, 128, 0.423),
    rgba(128, 128, 128, 0.222)
  );
}
.header-heading {
  font-size: 3rem;
  font-weight: 600;
  color: #1b73e8;
}
.header-heading span {
  color: rgb(117, 0, 0);
}
.nav-links li a {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text);
  margin-right: 1rem;
  padding: 0.8rem 1.2rem;
  background-color: var(--pri);
  font-weight: 600;
  border-radius: 1.4rem;
}
.nav-links li a:hover {
  color: var(--pri);
  background: linear-gradient(
    to top left,
    rgba(253, 250, 250, 0.623),
    rgba(114, 116, 202, 0.322)
  );
  border: 1px solid var(--pri);
}

/* Glass temp dashboard */
.dashboard-headings {
  font-size: 1.4rem;
}
.logo-wrapper {
  margin-top: 2rem;
}
.dashboard-headings {
  margin: 3rem 1rem 0 1rem;
  text-transform: capitalize;
  color: var(--pri);
  padding: 0.8rem 1.2rem;
  background: linear-gradient(
    to top left,
    rgba(184, 180, 180, 0.223),
    rgba(111, 113, 207, 0.322)
  );
  border: 1px solid #726a6a;
  font-weight: 600;
  border-radius: 1.4rem;
}
.dashboard-headings:hover {
  color: var(--pri);
  background: linear-gradient(
    to top left,
    rgba(253, 250, 250, 0.623),
    rgba(114, 116, 202, 0.322)
  );
  border: 1px solid var(--pri);
}

/* Glass Body section */
.glass-body {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 2rem;
  background: linear-gradient(
    to top left,
    rgba(128, 128, 128, 0.423),
    rgba(128, 128, 128, 0.222)
  );
  height: 75vh;
  overflow: auto;
}
/* Dashboard */

.user-img {
  margin-bottom: 1.2rem;
}
.user-img img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
}

.user-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #464660;
}
.dashboard h3 {
  font-size: 1rem;
  font-weight: 900;
}
.main-menu .sub-menu {
  margin: 0.7rem 0;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
  font-weight: 700;
  color: #664e88;
}

.sub-menu:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* Glass-main */

/* .glass-main {
  max-height: 100vh;
  overflow: auto;
} */
.glass-main h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1.3rem;
  margin: 1rem 0;
}
